header {
  background-color: rgb(217, 238, 204);
  width: 100%;
  height: 100px;
  display: flex; 
  flex-direction: column-reverse;
}

h1 {
  font-size: 300%;
  padding-left: 40%;
}

main {
  background-color: rgb(228, 218, 220);
  max-width: 100%;
  height: 2000px;
}

#cookie-locations {
  
}

footer {
  background-color: rgb(217, 238, 204);
  width: 100%;
  height: 50px;
}